// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body{
    margin:0;
    padding:0;
    margin-top:auto;
    margin-bottom:auto;
}
.titre{
    text-decoration: none;
    color:black;
}
#header{
    display:flex;
    justify-content:space-between;
}
#nav{
    
    text-align: center;
    float:right;
    word-spacing: 30px;
    padding:0;
    margin:0;
}
#nav li{
    
    display:inline;
    list-style:none;
    font-size:30px;
} 
.lien{
    text-decoration:none;
    color:black;
    
}
.container{
    padding-top:30px;
}
#footer{
    padding-top:30px;
}
h3{
    text-align:center;
}
.reseaux{
    padding-top: 10px;
    display:flex;
    justify-content: space-evenly;
}
.network{
    text-decoration: none;
    color:black;
    list-style: none;
}