@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  margin: 0;
  padding: 0;
}

#header {
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 14px 0px rgba(184, 131, 124, 0.4);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  width: 40%;
}

#menu ul {
  display: flex;
  margin: 0;
}

li {
  position: relative;
  list-style: none;
  margin-right: 20px;
}

.lien {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.lien:hover {
  text-decoration: none;
  color: black;
}

.lien:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.lien:hover:after {
  width: 100%;
  left: 0;
}

#content {
  padding: 50px 0;
}

#footer {
  padding: 30px 0;
  background-image: url(/images/rectangle.png?a835c2274e4100806b93b32dafcd5ae5);
}

h3 {
  text-align: center;
  color: white;
}

.reseaux {
  padding-top: 10px;
}

.reseaux ul {
  display: flex;
  justify-content: space-evenly;
}

.reseaux li {
  position: relative;
  display: inline-block;
}

.network:hover {
  text-decoration: none;
  color: white;
}

.network:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.network:hover:after {
  width: 100%;
  left: 0;
}

.network {
  text-decoration: none;
  color: white;
  list-style: none;
}

.btn-info {
  background-color: #1C1A4C;
}

.btn-primary {
  background-color: #462372;
}

.btn-danger {
  background-color: #910949;
}

.contact {
  padding-top: 100px;
}

